<div>
    <button class="btn btn-success text-center mb-2 rounded-pill" type="button" routerLink='/biblioteca/autor'>Registrar</button>

</div>
<hr class='bg-primary'>
<div class="row">

    <div class="col-auto mb-3" *ngFor="let autor of autors">

        <div class="card rounded" style="width: 19rem;">

            <div class="card-body">

                <h5 class="card-title text-center text-bold mb-4">{{autor.name |titlecase}}</h5>

                <h6 class="card-subtitle mb-2">Fecha nacimiento: {{autor.year}}</h6>
                <h6 class="card-subtitle mb-2">Ciudad: {{autor.city}}</h6>
                <h6 class="card-subtitle mb-2">Email: {{autor.email}}</h6>

            </div>
        </div>
    </div>
</div>